// Colors
$primary-color: #9c69e2;
$secondary-color: #f063b8;
$white: #ffffff;

// Typography
$font-family: "Avenir", Helvetica, Arial, sans-serif;
$font-family-headings: Helvetica, Arial, sans-serif;

$primary-text-color: #212353;
$secondary-text-color: #4b5d68;

$nav-text-size: 16px;
$nav-text-color: $secondary-text-color;
$nav-text-color-active: $primary-text-color;
