.header {
  align-items: center;
  column-gap: 40px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  row-gap: 20px;

  @media screen and (min-width: 692px) {
    flex-direction: row;
  }

  @media screen and (min-width: 768px) {
    column-gap: 20px;
  }

  &__nav {
    flex-grow: 1;

    @media screen and (min-width: 768px) {
      margin-left: 101px;
    }
  }
}
